body {
    font: normal 15pt Arial;
    background: rgb(133, 133, 133);
    margin: 0%;
    margin: auto;
}
 /*CABEÇALHO DO SITE*/
header {
    background: rgb(43, 41, 41);
    padding: 1%;
    margin: 0%;
}
header p {
    right: 1%;
    top: 0%;
    position: absolute;
}
header p a {
    text-decoration: none;
    color: white;
}
/*CORPO DO SITE*/
section {
    text-align: center;
    padding: 2.5%;
    background: rgb(92, 89, 89);
    position: relative;
    float: right;
    width: 65%;
    margin: 1%;
    box-shadow: 1px 1px 5px black;
    border-radius: 1%;
}
section h2, h3 {
    border-bottom: 1px solid black;
    padding-bottom: 1%;
}
section button.btn {
    padding: 8px;
    width: 100px;
    background: rgb(133, 133, 133);
    border-radius: 3px;
    border: none;
}
section input {
    border-radius: 5%;
    padding: 5px;
    width: 200px;
}
section .atv {
    background: rgb(61, 59, 59);
    padding: 5%;
    border-radius: 5%;
    width: 70%;
    margin: auto;
    margin-bottom: 2%;
}
/*CONTEUDO LATERAL*/
aside {
    background: rgb(71, 69, 69);
    position: relative;
    float: left;
    width: 24%;
    padding: 1%;
    text-align: center;
    margin: 1%;
    box-shadow: 1px 1px 5px black;
    border-radius: 1%;
}
aside button.btn {
    padding: 8px;
    width: 70%;
    background: rgb(133, 133, 133);
    border-radius: 3px;
    border: none;
}
/*FOTO DE PERFIL*/
aside img {
    border: 1x solid black;
    border-radius: 50%;
    width: 30%;
    height: 30%; 
}