body {
    font: normal 15pt Arial;
    background: rgb(237, 240, 99);
    margin: 0%;
}
 /*CABEÇALHO DO SITE*/
header {
    background: rgb(43, 41, 41);
    padding: 1%;
    margin-bottom: 0%;
}
header p{
    right: 0%;
    top: 0%;
    position: absolute;
}

section {
    background: rgb(133, 133, 133);
}

footer p {
    text-align: center;
}